@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);
:root {
    --primary-color: #383838;
    --secondary-color: #E24E2A;
    --background-color: #FFFFFF;
    --text-color: #6C6C6C;
    --text-color2: #A7A2A2;
    --button-color: #1B9772;
    --nav-color: #ECECEC;
    --divider-color: #C5C5C5;
    --intro-text-color: #F2B2A2;
  }

body {
    background-color: fff;
    line-height: 1.5;
    font-size: 16px;
    font-family:  Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    /* border: 1px solid black;
    background-color: gray; */

}
/* **********HEADER CONTAINER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
/* *********LOGO SIDE  HEADER LEFT SIDE*/
.logo-site {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0 2em;
}


.logo{
    font-size: 32px;
    font-weight: bold;
}
.divider {
    height: 45px;
    width: 1.5px;
    background-color: #C5C5C5;

}

.aditiona-text{
    font-size: 14px;
    align-self: flex-end;
    margin-bottom: 0.6em;
}

/* *******NAVIGATION HEADER RIGHT SIDE*/

.nav {

    display: flex;
    gap: 0.2em;
    padding:1em 2em ;
    margin-bottom: 0.5em;
    /* margin-right: 5em; */
}
.nav-item {
    /* margin-right: 5em; */
    padding: 1em 1.3em;
    background-color: var(--nav-color);
    font-size: 14px;
}
.nav-item:hover {
    background-color: #E24E2A;
    color: white;
}

/* ***********BANNER IMAGE */
.banner-img {
    width: 1200px;
    display: flex;
    justify-content: center;
    height: 45vh;

    
}
.image {

    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* ***********INTRO TEXT CONTAINER */

.intro{
    background-color: var(--secondary-color);
    color: var(--intro-text-color);
    text-align: center;
    padding: 2.5em 5em;
}

a {
    color: var(--intro-text-color);
}

/* ****************Options container */

.options {

    display: flex;
    padding: 3em 2em ;
    gap: 2em;
    
    background-color: var(--primary-color);
}
.option-card {
    display: flex;
    gap: 0.8em;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 1.5em;

    /* justify-content: center; */
}
.icons {
    width: 30%;
    padding: 1em;
    background-color: var(--secondary-color);
  
}
.icons i {
    font-size: 40px; /* Adjust the size as needed */
  }

.divider-card {
    height: 1px;
    width: 100%;
    background-color: #C5C5C5;
}
.title {
    font-size: 16px;
    font-weight: 500;
}
.text {
    font-size: 14px ;
    width: 100%;
    color: var(--text-color);
}

.text-button {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 3em 3em;
}
.title-text {
    font-size: 32px;
    font-weight: 400;
    color: #555555;
}
.sub-title {
    font-size: 16px;
    color: var(--text-color2);
}
body > section.text-button.container > div.button > a {
    text-decoration: none;
    color: white;
    padding: 1em 2em;
    background-color: var(--button-color);
}
/* *******************More Options */
.more {
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-card > div.title {
    font-size: 22px;
}

/* ***********FOOTER */
.footer {
    padding: 3em 3em;
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    background-color: var(--button-color);
    color: #5BB499;
    font-size: 16px;
}

.footer a {
    text-decoration: none;
    color: #9BD4C5;
}

/* section.footer.container > p:not(:last-child) {
    border-right: 1px solid black;
    padding-right: 18px;
} */
.divider.text {
    width: 1px;
    height: 16px;
    /* font-size: 10px; */
}